API_ID=1234567
API_HASH=your_api_hash_here
BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
DUMP_CHANNEL=-1001234567890
ADMINS=123456789 987654321
CREDIT_TEXT="\n\n**Downloaded by @YourBotUsername**"
